.font-t1-g {
  font: 600 2rem "Rubik", sans-serif;
}

.font-t1-gm {
  font: 600 1.5rem "Rubik", sans-serif;
}


.font-t1-m{
  font: 600 1.2rem/1.7 "Rubik", sans-serif;
}

.font-t1-me{
  font: 400 1.2rem/1.7 "Rubik", sans-serif;
}

.font-p2-n {
  font: 400 1rem/1.5 "Inter", sans-serif;
}

