.font-t1-g {
  font: 600 1.8rem "Rubik", sans-serif;
}

.font-t1-ga{
  font: 600 2.2rem "Rubik", sans-serif;
}

.font-t1-gm {
  font: 600 1.5rem "Rubik", sans-serif;
}

.font-t1-m {
  font: 600 1.2rem/1.7 "Rubik", sans-serif;
}

.font-t1-me {
  font: 400 1.2rem/1.7 "Rubik", sans-serif;
}

.font-p2-n {
  font: 400 1rem/1.5 "Inter", sans-serif;
}

.font-p2-nm{
  font: 400 0.9rem/1.55 "Inter", sans-serif;
}

.font-t1-gmm{
  font: 600 1.3rem "Rubik", sans-serif;
}

@media (max-width: 980px){
  .font-t1-g {
    font: 600 1.2rem "Rubik", sans-serif;
  }

  .font-t1-ga{
    font: 600 1.4rem "Rubik", sans-serif;
  }
  
  .font-t1-gm {
    font: 600 1.2rem "Rubik", sans-serif;
  }

  .font-t1-gmm{
    font: 600 1.2rem "Rubik", sans-serif;
  }
  
  .font-t1-m {
    font: 600 1.2rem/1.7 "Rubik", sans-serif;
  }
  
  .font-t1-me {
    font: 400 0.9rem "Rubik", sans-serif;
  }
}
