.sidenav-bg {
  grid-area: sidenav;
  box-sizing: border-box;
  margin: 12px;
  padding: 20px;
  background: var(--cor-p2);
  border-radius: 10px;
  height: calc(100vh - 24px); /* 12px de margem em cima + 12px embaixo */
}

.sidenav ul {
  margin-left: 20px;
}

.sidenav a {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

.sidenav a:hover {
  color: white;
  background: var(--cor-p2);
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0px 5px 10px var(--cor-p1);
}

.menu-informacoes {
  margin-bottom: 20px;
}

.menu-links {
  margin-top: 20px;
}

.sidenav hr {
  display: none;
  width: 50%;
  height: 2px;
  background: var(--cor-s2);
  border: none;
}

@media (max-width: 980px) {
  .sidenav-bg {
    position: fixed;
    top: 0; /* Fixa no topo */
    left: 0; /* Fixa na lateral esquerda */
    height: calc(100vh - 12px);
    width: 60px; /* Largura fixa para a barra */
    z-index: 10; /* Garante que fique acima de outros elementos */
    margin: 6px;
  }

  .sidenav a {
    padding: 10px;
    margin-top: 6px;
  }

  .sidenav ul {
    display: flex; /* Garante que flexbox funcione no Safari */
    flex-direction: column; /* Para alinhar verticalmente */
    align-items: center;
    margin: 0 auto; /* Adiciona margem automática */
  }

  .sidenav hr {
    display: block;
  }

  .sidenav-bg {
    padding: 0px;
  }

  .sidenav h2 {
    display: none;
  }

  li span {
    display: none;
  }
}
