.projetos {
  margin-top: 40px;
}

.projetos h2 {
  margin-bottom: 8px;
}

.projetos-card {
  margin-top: 12px;
  display: flex;
  gap: 20px;
  border-radius: 10px;
  border: solid 2px var(--cor-s2);
  background: var(--cor-p2);
}

.projetos-info {
  margin-top: 20px;
  margin-right: 20px;
}

.projetos-info h2 {
  margin-bottom: 8px;
}

a.link {
  text-decoration: underline;
  color: rgb(59, 130, 246);
}

.projetos-ferramentas {
  place-self: end;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.projetos-card > img {
  border-radius: 8px 0px 0px 8px;
  max-width: 200px;
}

@media (max-width: 810px) {
  .projetos-card {
    gap: 0px;
    display: flex;
    flex-direction: column;
  }
  .projetos-info {
    margin-left: 20px;
  }
  .projetos-card > img {
    max-width: 100%;
    border-radius: 8px 8px 0px 0px;
  }
}
